form {
	display: flex;
	width: 60%;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
}
form label {
	padding: 0.4em;
}

form input {
	width: 60%;
	padding: 0.4em;
}

form button {
	border: 0px;
	margin: 1em;
	border-radius: 5px;
	padding: 0.75em 1.5em;
	background-color: #961448;
	color: white;
}

form button:hover {
	background-color: #c2185b;
	cursor: pointer;
}
